<% if @user && @user.errors.any? %>
<div class="error-explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h1>Sign Up</h1>

<%= form_with model: @user do |form| %>

<div>
  <%= form.label :username, "Your username here" %>
  <%= form.text_field :username, value: "Example name" %>
</div>

<div>
  <%= form.label :email %>
  <%= form.text_field :email, placeholder: "example@example.com" %>
</div>

<div>
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div>
  <%= form.submit "Create User" %>
</div>

<% end %>
<br>
<%= link_to "Back to Users", users_path %>

<!-- <form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
  
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]"><br>

  <label for="email">E-mail</label>
  <input type="text" id="email" name="user[email]"><br>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]"><br>

  <input type="submit" value="Submit">
</form> -->

<% if false %>

<%= form_tag("/users") do %>

<div>
  <%= label_tag "user_username", "Username" %>
  <%= text_field_tag "user[username]" %>
</div>

<div>
  <%= label_tag "user_email", "Email" %>
  <%= text_field_tag "user[email]" %>
</div>

<div>
  <%= label_tag "user_password", "Password" %>
  <%= password_field_tag "user[password]" %>
</div>

<div>
  <%= submit_tag "Create User" %>
</div>

<% end %>

<% end %>